<!--
 * @Author: 莫卓才
 * @eMail: handsome.mo@foxmail.com
 * @Descripttion: 描述
 * @version: 1.0.0
 * @Date: 2020-07-01 14:44:36
 * @LastEditors: 莫卓才
 * @LastEditTime: 2021-02-02 16:57:56
-->
<%- include('/commom/header',{
  site_title:aboutSingleDetail?aboutSingleDetail.site_title:'海南昆仑体育文化股份有限公司',
  Keywords:aboutSingleDetail?aboutSingleDetail.keywords:'海南昆仑体育文化股份有限公司',
  description:aboutSingleDetail?aboutSingleDetail.description:'海南昆仑体育文化股份有限公司',
}) %>
<style>
  .dropdown-menu>.active>a,
  .dropdown-menu>.active>a:focus,
  .dropdown-menu>.active>a:hover {
    background-color: #D9201B;
  }
</style>
<%- include('/commom/banner') %>

<div class="content-full">
  <div class="content main-info">

    <%- include('/commom/column') %>
    
    <div class="content-right">
      <%# 公司简介 && 企业架构 %>
      <% if(aboutSingleDetail){ %>
        <div class="about">
          <%- aboutSingleDetail.content %>
        </div>
      <% }else{ %>
        <% if(aboutDroptypeList.length>0){ %>
          <%# 下拉菜单 %>
          <% if(aboutDroptypeList[0].product_id != 6){ %>
            <div role="presentation" class="dropdown">
              <a href="#1" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">
                <%= aboutDroptypeList[0].title %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                <% Object.values(aboutDroptypeList).forEach(item =>{ %>
                <li><a href="#<%= item.id %>" tabindex="-1" data-toggle="tab"><%= item.title %></a></li>
                <% }) %>
              </ul>
            </div>
          <% } %>
          <%# 管理团队 %>
          <% if(aboutDroptypeList[0].product_id == 4){ %>
            <div class="about2-list tab-content">
              <% Object.values(aboutDroptypeList).forEach(val =>{ %>
              <ul class="tab-pane fade <%= aboutDroptypeList[0] == val ?'in active':'' %> " id="<%= val.id %>">
                <% val.info.forEach(item =>{ %>
                <li>
                  <img src="<%= item.avatar_image %>" alt="" class="about2-img" data-src="<%= item.avatar_image %>">
                  <div class="about2-right">
                    <h3><%= item.aboutTitle %></h3>
                    <%- item.content %>
                  </div>
                </li>
                <% }) %>
              </ul>
              <% }) %>
            </div>
          <% }else{ %>
            <%# 大事记 && 企业荣誉 %>
            <div class="honor-main tab-content">
              <div class="honor-line"></div>
                <% Object.values(aboutDroptypeList).forEach(val =>{ %>
                  <ul class="tab-pane fade <%= aboutDroptypeList[0] == val ?'in active':'' %> " id="<%= val.id %>">
                    <% val.info.forEach(item =>{ %>
                      <li class="honor-list">
                        <i></i>
                        <div class="honor-right">
                          <img src="" alt="" class="honor-img" data-src="<%= item.avatar_image %>">
                          <div class="honor-txt">
                            <p class="honor-data"><%= moment(item.created_at).format('YYYY-MM-DD') %></p>
                            <h5><%= item.aboutTitle %></h5>
                            <%- item.content %>
                          </div>
                        </div>
                      </li>
                    <% }) %>
                  </ul>
                <% }) %>
            </div>
          <% } %>
        <% }else{ %>
          <div class="content-right">
            <div class="ser-top">
              <div class="ser-top-txt">
                <h1>暂无数据</h1>
              </div>
            </div>
          </div>
        <% } %>
      <% } %>
    </div>
  </div>
</div>

<%- include('/commom/serInfo') %>

<%- include('/commom/footer') %>

<script>
  $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
    var text = this.innerText;
    var span = `<b class="caret"></b>`;
    var ul = $(this).parents('ul.dropdown-menu');
    ul.find('li').attr('class', '');
    $('#myTabDrop1').html(text + span);
  })
</script>