<!--
 * @Author: 莫卓才
 * @eMail: handsome.mo@foxmail.com
 * @Descripttion: 描述
 * @version: 1.0.0
 * @Date: 2020-07-01 14:44:36
 * @LastEditors: 莫卓才
 * @LastEditTime: 2020-07-23 20:55:37
--> 
<%- include('/commom/header',{
  title:data?data.aboutList[0].title:"海南昆仑体育文化股份有限公司",
  Keywords:data?data.aboutList[0].keywords:"海南昆仑体育文化股份有限公司",
  companyDescription:data?data.aboutList[0].companyDescription:"海南昆仑体育文化股份有限公司",
}) %>
<style>
  .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
    background-color: #D9201B;
  }
</style>
<%- include('/commom/banner') %>

<div class="content-full">
  <div class="content main-info">

    <%- include('/commom/column') %>
      <div class="content-right">
        <% if(!data.aboutList[0].type){ %>

          <% data.aboutList.forEach(item => { %>
            <div class="about">
              <% if(data.aboutList[0].aboutTitle){ %>
                <img src="/public/images/about_img.png" alt="">
              <% } %>
                <h5><%= data.aboutList[0].aboutTitle %></h5>
                <%- data.aboutList[0].content %>
            </div>
          <% }) %>

        <% }else{ %>
          
          <% if(data.aboutDroptypeList[0]){ %>
            <div role="presentation" class="dropdown">
              <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">
                <%= data.aboutDroptypeList[0].dropContent %>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                <% data.aboutDroptypeList.forEach(item =>{ %>
                  <li><a href="#<%= item.id %>" tabindex="-1" data-toggle="tab"><%= item.dropContent %></a></li>
                <% }) %>
              </ul>
            </div>
          <% } %>
          
          <% if(data.aboutList[0].dropType ==='4'){ %>           
            <div class="about2-list tab-content">
            <% data.aboutDroptypeList.forEach(val =>{ %>
            <ul class="tab-pane fade in active <%= data.aboutDroptypeList[0] == val ?'in active':''; %> " id="<%= val.id %>">
              <% data.aboutList.forEach(item => { %>
                <% if(item.dropTypeId == val.id){ %>
                  <li>
                    <img src="<%= item.dropImage %>" alt="" class="about2-img">
                    <div class="about2-right">
                      <h3><%= item.aboutTitle %></h3>
                      <%- item.content %>
                    </div>
                  </li>
               <% } %>
              <% }) %>
            </ul>
            <% }) %>
          </div>

         <% }else{ %>

          <div class="honor-main tab-content">
            <div class="honor-line"></div>
            <% if(data.aboutDroptypeList[0]){ %>
              <% data.aboutDroptypeList.forEach(val =>{ %>
                <ul class="tab-pane fade <%= data.aboutDroptypeList[0] == val ?'in active':''; %>" id="<%= val.id %>">
                  <% data.aboutList.forEach(item => { %>
                    <% if(item.dropTypeId == val.id){ %>
                      <li class="honor-list">
                        <i></i>
                        <div class="honor-right">
                          <img src="<%= item.dropImage %>" alt="" class="honor-img">
                          <div class="honor-txt">
                            <p class="honor-data"><%= item.created_at %></p>
                            <h5><%= item.aboutTitle %></h5>
                            <%- item.content %>
                          </div>
                        </div>
                      </li>
                    <% } %>
                  <% }) %>
                </ul>
              <% }) %>
            <% }else{%>
              <ul>
                <% data.aboutList.forEach(item => { %>
                <li class="honor-list">
                  <i></i>
                  <div class="honor-right">
                    <img src="<%= item.dropImage %>" alt="" class="honor-img">
                    <div class="honor-txt">
                      <p class="honor-data"><%= item.created_at %></p>
                      <h5><%= item.aboutTitle %></h5>
                      <%- item.content %>
                    </div>
                  </div>
                </li>
                <% }) %>
              </ul>
            <% } %>
          </div>
          
         <% } %>
        <% } %>
      </div>
  </div>
</div>

<%- include('/commom/serInfo') %>

<%- include('/commom/footer') %>

<script>
  var swiper = new Swiper('.ser-info', {
    slidesPerView: '3.5',
    spaceBetween: 0,
  });

  $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
    var text = this.innerText;
    var span = `<b class="caret"></b>`;
    var ul = $(this).parents('ul.dropdown-menu');
    ul.find('li').attr('class','');
    $('#myTabDrop1').html(text + span);
  })
  
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    var text = this.innerText;
    if(text == '全部'){
      $('.tab-pane').attr('class','tab-pane fade in active');
    }
})
</script>

</body>
</html>