<!--
 * @Author: 莫卓才
 * @eMail: handsome.mo@foxmail.com
 * @Descripttion: 描述
 * @version: 1.0.0
 * @Date: 2020-07-01 11:09:59
 * @LastEditors: 莫卓才
 * @LastEditTime: 2020-10-30 15:59:43
-->
<%- include('/commom/header',{
  title:settingList?settingList[0].title:"海南昆仑体育文化股份有限公司",
  Keywords:settingList?settingList[0].keywords:"海南昆仑体育文化股份有限公司",
  companyDescription:settingList?settingList[0].companyDescription:"海南昆仑体育文化股份有限公司",
}) %>

<%- include('/commom/indexBanner') %>

<div class="content-full">
  <div class="content-full row1">
    <div class="row1-bg"></div>
    <div class="content row1-main">
      <div class="col-lg-6 row1-left">
        <div class="row-title">
          <div class="title-link"></div>
          <h5>关于我们</h5>
        </div>
        <h3 class="row-h3">大海之南•昆仑为巅</h3>
        <p class="row-p"><%= aboutSingleDetail.companyDescription %></p>
        <a href="/about/pid/1/cid/2" class="row-btn">查看详情</a>
      </div>
      <div class="col-lg-6 row1-right">
        <img src="/public/images/about.png" alt="" class="about-img">
      </div>
    </div>
  </div>
  <div class="content-full row2">
    <div class="col-lg-2 row2-left">
      <div class="row-title">
        <div class="title-link"></div>
        <h5>服务领域</h5>
      </div>
      <div class="ser-nav">
        <ul>
          <% menuList[1].children.forEach(item=>{ %>
          <li>
            <a href="/<%= item.url+'/pid/'+7+'/cid/'+item.id %>"><%= item.title %></a>
          </li>
          <% }) %>
        </ul>
      </div>

      <div class="banner-button row2-button">
        <div class="swiper-button-next swiper-button-next3"></div>
        <span class="banner-button-link">|</span>
        <div class="swiper-button-prev swiper-button-prev3"></div>
      </div>
    </div>
    <div class="row2-right">
      <div class="swiper-container row2-swiper">
        <div class="swiper-wrapper row2-wrapper">
          <% servicesList.forEach((item,index)=>{ %>
          <div class="swiper-slide">
            <div class="row2-txt">
              <h5><%= menuList[1].children[index].title %></h5>
              <p><%= item.companyDescription %></p>
              <a href="/services/pid/7/cid/<%= item.category_id %>" class="row2-btn">
                <img src="/public/images/more_icon.png" alt="">
              </a>
            </div>
            <div class="row2-border"></div>
            <img src="<%= item.servicesImage %>" alt="" class="row2-img">
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
  <div class="content-full row3">
    <div class="content">
      <div class="row-top">
        <div class="row-title">
          <div class="title-link"></div>
          <h5>新闻中心</h5>
        </div>
        <a href="/news/pid/4/cid/22" class="more-btn">查看更多<img src="/public/images/more_icon2.png" alt=""></a>
      </div>
      <div class="row3-swiper">
        <div class="swiper-wrapper">
          <% newsList.forEach(item=>{ %>
          <div class="swiper-slide row3-slide">
            <a href="news_info/pid/4/cid/<%= item.category_id %>/id/<%= item.id %>">
              <div class="row3-img">
                <span class="news-tab"><%= item.category %></span>
                <img src="<%= item.filepath %>" alt="">
              </div>
              <div class="row3-txt">
                <h5><%= item.cultureTitle %></h5>
                <p><%= item.companyDescription %></p>
                <div class="row3-data">
                  <p><%= item.created_at %></p>
                  <img src="/public/images/news_icon.png" alt="">
                </div>
              </div>
            </a>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
    <div class="banner-button row3-button">
      <div class="swiper-button-next swiper-button-next4"></div>
      <span class="banner-button-link">|</span>
      <div class="swiper-button-prev swiper-button-prev4"></div>
    </div>
  </div>
  <div class="content-full row4">
    <div class="content row-top">
      <div class="row-title">
        <div class="title-link"></div>
        <h5>服务案例</h5>
      </div>
      <a href="/cases/pid/5/cid/26" class="more-btn">查看更多<img src="/public/images/more_icon3.png" alt=""></a>
    </div>

    <div class="row4-swiper">
      <div class="swiper-wrapper">
        <% casesList.data.forEach(item =>{ %>
        <div class="swiper-slide row4-slide">
          <a href="/cases_info/pid/5/cid/<%= item.category_id %>/id/<%= item.id %>">
            <img src="<%= item.filepath %>" alt="" class="row4-img">
            <div class="row4-txt">
              <h5><%= item.cultureTitle %></h5>
              <p><%= item.created_at %></p>
            </div>
            <div class="row4-mask"></div>
          </a>
        </div>
        <% }) %>
      </div>
      <div class="swiper-pagination swiper4-pagination"></div>
    </div>
  </div>
  <div class="content-full row5">
    <div class="content">
      <div class="row-top">
        <div class="row-title">
          <div class="title-link"></div>
          <h5>合作伙伴</h5>
        </div>
        <a href="/cases/pid/5/cid/27" class="more-btn">查看更多<img src="/public/images/more_icon2.png" alt=""></a>
      </div>
      <h3 class="row5-title">公司汇集来自体育、传媒、广告、<br>会展行业的精英人士</h3>
      <p class="row5-txt">与中视体育娱乐有限公司、爱奇艺、中广天择传媒股份有限公司等国内一流媒体平台达成了战略合作关系</p>
      <div class="row5-list">
        <ul>
          <% casesLists.data.forEach(item =>{ %>
          <li>
            <a href="javascript:;">
              <img src="<%= item.filepath %>" alt="">
            </a>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
  <div class="content-full row6">
    <a href="javascript:;" class="video-btn" data-toggle="modal" data-target="#videos">
      <img src="/public/images/play_icon.png" alt="">
    </a>
    <img src="/public/images/video_bg.png" alt="" class="video-img">
    <div class="modal fade" id="videos" tabindex="-1" role="dialog" aria-labelledby="myVideos">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myVideos">公司宣传视频</h4>
          </div>
          <div class="modal-body"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-full row7">
    <div class="content">
      <div class="row-top">
        <div class="row-title">
          <div class="title-link"></div>
          <h5>联系我们</h5>
        </div>
        <a href="/contact/pid/7/cid/32" class="more-btn">查看更多<img src="/public/images/more_icon2.png" alt=""></a>
      </div>
      <div class="row7-main">
        <div class="row7-left">
          <div class="cont-top">
            <div class="row7-icon">
              <a href="contact2.html" class="cont-icon"><img src="/public/images/mes_icon.png" alt=""></a>
              <a href="javascript:;" class="cont-icon cont-hover">
                <img src="/public/images/weibo_icon.png" alt="">
                <img src="/public/images/qrcode2.png" alt="" class="qrcode-img">
              </a>
              <a href="javascript:;" class="cont-icon cont-hover">
                <img src="/public/images/wechat_icon.png" alt="">
                <img src="/public/images/qrcode.png" alt="" class="qrcode-img">
              </a>
              <a href="javascript:;" class="cont-icon"><img src="/public/images/qq_icon.png" alt=""></a>
            </div>
            <h5 class="row7-h5"><%= settingList[0].companyName %></h5>
          </div>
          <div class="cont-bottom row">
            <div class="col-lg-6">
              <h4>联系方式</h4>
              <p><%= settingList[0].phone %></p>
              <p><%= settingList[0].email %></p>
            </div>
            <div class="col-lg-6">
              <h4>详细地址</h4>
              <p><%= settingList[0].address %></p>
            </div>
          </div>
        </div>
        <div class="row7-right">
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('/commom/footer') %>