<!--
 * @Author: 莫卓才
 * @eMail: handsome.mo@foxmail.com
 * @Descripttion: 描述
 * @version: 1.0.0
 * @Date: 2020-07-22 09:20:21
 * @LastEditors: 莫卓才
 * @LastEditTime: 2020-07-24 09:25:11
--> 

<%- include('/commom/header',{
  title:data?data.servicesList[0].title:"海南昆仑体育文化股份有限公司",
  Keywords:data?data.servicesList[0].Keywords:"海南昆仑体育文化股份有限公司",
  companyDescription:data?data.servicesList[0].companyDescription:"海南昆仑体育文化股份有限公司",
}) %>

<%- include('/commom/banner') %>

<div class="content-full">
  <div class="content main-info">

    <%- include('/commom/column') %>
      <div class="content-right">
        <div class="ser-top">
            <div class="ser-top-txt">
                <h5><%= data.servicesList[0].title %></h5>
                <p><%= data.servicesList[0].companyDescription %></p>
            </div>
            <img src="<%= data.servicesList[0].servicesImage %>" alt="" class="ser-top-img">
        </div>
        <%- include('/commom/serInfoPhoto') %>
        <div class="ser-info-text">
          <%- data.servicesList[0].content %>
        </div>
      </div>
  </div>
</div>
<%- include('/commom/serInfo') %>

<%- include('/commom/footer') %>
<script>
  var swiper = new Swiper('.ser-info-photo', {
    slidesPerView: 'auto',
    spaceBetween: 30,
    freeMode: true,
    pagination: {
        el: '.photo-pagination',
        clickable: true,
    },
  });
</script>
</body>
</html>