<!--
 * @Author: 莫卓才
 * @eMail: handsome.mo@foxmail.com
 * @Descripttion: 描述
 * @version: 1.0.0
 * @Date: 2020-07-22 09:20:21
 * @LastEditors: 莫卓才
 * @LastEditTime: 2021-02-02 10:18:26
-->

<%- include('/commom/header',{
  site_title:servicesDetail?servicesDetail.site_title:"海南昆仑体育文化股份有限公司",
  Keywords:servicesDetail?servicesDetail.keywords:"海南昆仑体育文化股份有限公司",
  description:servicesDetail?servicesDetail.description:"海南昆仑体育文化股份有限公司",
}) %>

<% var id = 
ctx.params.cid == 8 ?
1 : ctx.params.cid == 9 ?
 2 : ctx.params.cid == 10 ?
  3 : ctx.params.cid == 11 ?
   4 : ctx.params.cid == 12 ?
    5:'';%>

<%- include('/commom/banner') %>

<div class="content-full">
  <div class="content main-info">

    <%- include('/commom/column') %>
      <% if(servicesDetail){ %>
        <div class="content-right">
          <div class="ser-top">
            <div class="ser-top-txt">
              <h5><%= servicesDetail.site_title %></h5>
              <p><%= servicesDetail.description %></p>
            </div>
            <img src="" alt="" class="ser-top-img" data-src="<%= servicesDetail.image %>">
          </div>
          <%- include('/commom/serInfoPhoto',{ id }) %>
          <div class="ser-info-text">
            <%- servicesDetail.content %>
          </div>
        </div>
      <% }else{ %>
        <div class="content-right">
          <div class="ser-top">
            <div class="ser-top-txt">
              <h1>暂无数据</h1>
            </div>
          </div>
        </div>
      <% } %>
  </div>
</div>
<%- include('/commom/serInfo') %>

<%- include('/commom/footer') %>
<script>
  var swiper = new Swiper('.ser-info-photo', {
    speed: 500,
    loop: true,
    observer: true,//修改swiper自己或子元素时，自动初始化swiper
    observeParents: true,//修改swiper的父元素时，自动初始化swiper
    pagination: {
      el: '.swiper-pagination',
    },
  });
</script>
</body>

</html>