<!--
 * @Author: 莫卓才
 * @eMail: handsome.mo@foxmail.com
 * @Descripttion: 描述
 * @version: 1.0.0
 * @Date: 2020-07-22 09:20:21
 * @LastEditors: 莫卓才
 * @LastEditTime: 2021-01-26 11:48:55
-->

<%- include('/commom/header',{
  title:servicesDetail?servicesDetail[0].title:"海南昆仑体育文化股份有限公司",
  Keywords:servicesDetail?servicesDetail[0].keywords:"海南昆仑体育文化股份有限公司",
  description:servicesDetail?servicesDetail[0].description:"海南昆仑体育文化股份有限公司",
}) %>

<% var id = 
ctx.params.cid == 8 ?
1 : ctx.params.cid == 9 ?
 2 : ctx.params.cid == 10 ?
  3 : ctx.params.cid == 11 ?
   4 : ctx.params.cid == 12 ?
    5:'';%>

<%- include('/commom/banner') %>

<div class="content-full">
  <div class="content main-info">

    <%- include('/commom/column') %>
    <div class="content-right">
      <div class="ser-top">
        <div class="ser-top-txt">
          <h5><%= servicesDetail[0].title %></h5>
          <p><%= servicesDetail[0].description %></p>
        </div>
        <img src="" alt="" class="ser-top-img" data-src="<%= servicesDetail[0].servicesImage %>">
      </div>
      <%- include('/commom/serInfoPhoto',{ id }) %>
      <div class="ser-info-text">
        <%- servicesDetail[0].content %>
      </div>
    </div>
  </div>
</div>
<%- include('/commom/serInfo') %>

<%- include('/commom/footer') %>
<script>
  var swiper = new Swiper('.ser-info-photo', {
    slidesPerView: 'auto',
    spaceBetween: 30,
    freeMode: true,
    pagination: {
      el: '.photo-pagination',
      clickable: true,
    },
  });
</script>
</body>

</html>