<!--
 * @Author: 莫卓才
 * @eMail: handsome.mo@foxmail.com
 * @Descripttion: 描述
 * @version: 1.0.0
 * @Date: 2020-07-01 11:47:27
 * @LastEditors: 莫卓才
 * @LastEditTime: 2020-10-19 11:08:23
-->
<div class="content-full footer">
  <div class="content">
    <div class="footer-nav">
      <ul>
        <% menuList.forEach((item,index) =>{ %>
        <li>
          <h5><%= item.title %></h5>
          <% if(item.children){ %>
            <% item.children.forEach(children =>{ %>
              <a href="<%= '/'+ children.url+"/pid/"+ item.id + '/cid/' + children.id %>"><%= children.title %></a>
            <% }) %>
          <% } %>
        </li>
        <% }) %>
      </ul>
    </div>
    <div class="footer-right">
      <a href="" class="btn wechat-btn">
        <img src="" alt="" data-src="/public/images/weibo2_icon.png">官方微博<img src="" alt="" class="footer-code" data-src="<%= settingsList.weiboCode %>">
      </a>
      <a href="" class="btn wechat-btn">
        <img src="" alt="" data-src="/public/images/wechat2_icon.png">微信公众号<img src="" alt="" class="footer-code" data-src="<%= settingsList.weChatCode %>">
      </a>
      <!-- <a href="" class="btn oa-btn">
        <img src="" alt="" data-src="/public/images/oa_icon.png">进入OA系统
      </a> -->
    </div>
  </div>
  <div class="content-full footer-bottom">
    <div class="content">
      <p>COPYRIGHT (©) 2020 <%= settingsList.title %> 备案号：<a href="http://beian.miit.gov.cn/" target="_blank"><%= settingsList.record %></a></p>
      <select class="form-control footer-control">
        <option>==友情链接==</option>
        <option value="JavaScript:;">莫氏科技</option>
        <option value="JavaScript:;">莫氏科技</option>
      </select>
    </div>
  </div>
</div>

<!-- <div class="top-nav">
  <a href="###" class="wx-btn">
      <div class="wx-img">
          <img src="/public/images/footer_qrcode.png" alt="">
      </div>
  </a>
  <a href="contact.html" class="qq-btn"></a>
  <a href="###" class="top-btn"></a>
</div> -->
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/swiper.min.js"></script>
<script src="/public/js/sidebar.js"></script>
<script src="/public/js/wzlb.js"></script>
<script src="/public/js/jquery.paroller.js"></script>
<script src="/public/js/kunlun.js"></script>
<script>
  $(function () {
    $(window).paroller();
  });
</script>
<script>
  var swiper = new Swiper('.banner', {
    pagination: {
      el: '.banner-pagination',
    },
    navigation: {
      nextEl: '.swiper-button-next2',
      prevEl: '.swiper-button-prev2',
    },
    spaceBetween: 0,
    centeredSlides: true,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
  });
</script>
<script>
  var swiper = new Swiper('.row2-swiper', {
    slidesPerView: 'auto',
    spaceBetween: 0,
    navigation: {
      nextEl: '.swiper-button-next3',
      prevEl: '.swiper-button-prev3',
    },
  });
</script>
<script>
  var swiper = new Swiper('.row3-swiper', {
    slidesPerView: 4,
    spaceBetween: 15,
    navigation: {
      nextEl: '.swiper-button-next4',
      prevEl: '.swiper-button-prev4',
    },
  });
</script>

<script>
  var swiper = new Swiper('.row4-swiper', {
    slidesPerView: 2.5,
    spaceBetween: 15,
    pagination: {
      el: '.swiper4-pagination',
      clickable: true,
    },
  });
</script>
<script type="text/javascript">
  $("#scrollDiv").Scroll({
    line: 1,
    speed: 500,
    timer: 3000,
    up: "but_up",
    down: "but_down"
  });
</script>
<script type="text/javascript">

  $(".click-jump").click(function () {
    $('html, body').animate({
      scrollTop: $('.row1').offset().top
    });
  });

</script>
<script>
  var swiper = new Swiper('.ser-info', {
    slidesPerView: '3.5',
    spaceBetween: 0,
  });
</script>
<script>
  var swiper = new Swiper('.ser-info-photo', {
    slidesPerView: 'auto',
    spaceBetween: 30,
    freeMode: true,
    observer: true,
    observeParents: true,
    pagination: {
      el: '.photo-pagination',
      clickable: true,
    },
  });
</script>
<script type="text/javascript">
  var longitude = <%= settingsList.longitude %>;
  var latitude = <%= settingsList.latitude %>;
  //创建和初始化地图函数：
  function initMap() {
    createMap();//创建地图
    setMapEvent();//设置地图事件
    addMapControl();//向地图添加控件
    addMapOverlay();//向地图添加覆盖物
  }
  function createMap() {
    map = new BMap.Map("map");
    map.centerAndZoom(new BMap.Point(longitude, latitude), 15);
  }
  function setMapEvent() {
    map.enableScrollWheelZoom();
    map.enableKeyboard();
    map.enableDragging();
    map.enableDoubleClickZoom()
  }
  function addClickHandler(target, window) {
    target.addEventListener("click", function () {
      target.openInfoWindow(window);
    });
  }
  function addMapOverlay() {
    var markers = [
      { content: "电话：0898-65771519邮箱：hnkunlun@vip.163.com", title: "海南昆仑体育文化股份有限公司", imageOffset: { width: -23, height: -21 }, position: { lat: 19.971976, lng: 110.492659 } }
    ];
    for (var index = 0; index < markers.length; index++) {
      var point = new BMap.Point(markers[index].position.lng, markers[index].position.lat);
      var marker = new BMap.Marker(point, {
        icon: new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap//public/images/icon.png", new BMap.Size(20, 25), {
          imageOffset: new BMap.Size(markers[index].imageOffset.width, markers[index].imageOffset.height)
        })
      });
      var label = new BMap.Label(markers[index].title, { offset: new BMap.Size(25, 5) });
      var opts = {
        width: 200,
        title: markers[index].title,
        enableMessage: false
      };
      var infoWindow = new BMap.InfoWindow(markers[index].content, opts);
      marker.setLabel(label);
      addClickHandler(marker, infoWindow);
      map.addOverlay(marker);
    };
  }
  //向地图添加控件
  function addMapControl() {
    var scaleControl = new BMap.ScaleControl({ anchor: BMAP_ANCHOR_BOTTOM_LEFT });
    scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
    map.addControl(scaleControl);
    var navControl = new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_LARGE });
    map.addControl(navControl);
  }
  var map;
  initMap();
</script>
</body>

</html>