<!--
 * @Author: 莫卓才
 * @eMail: handsome.mo@foxmail.com
 * @Descripttion: 描述
 * @version: 1.0.0
 * @Date: 2020-08-03 20:59:27
 * @LastEditors: 莫卓才
 * @LastEditTime: 2020-08-25 10:33:56
-->
<% if(pages.total_pages > 1){  
  const RIGHT_INDEX = 3,LEFT_INDEX = 4;
  var arr = [],
    left = 1, //最小值
    right = pages.total_pages, //最大值
    total_pages = pages.total_pages, //分页最后一页
    current_page = pages.current_page; //当前页
    
    if(total_pages >= 7){
      if(current_page > LEFT_INDEX && current_page < total_pages - RIGHT_INDEX){
        left = Number(current_page) - 2;
        right = Number(current_page) + 2;
      }else{
        if(current_page <= 5){
          left = 1; 
          right = 7;
        }else{
          right = total_pages;
          left = total_pages - 6;
        }
      }
    }
    while (left <= right) {
      arr.push(left);
      left++;
    }
%>
<div class="page">
  <ul>
    <li class="<%= pages.current_page === 1 ? 'disabled' : '' %>">
      <a href="
        <%= pages.current_page === 1 
          ? 'javascript:;' 
          : url + '/page=' + Number(pages.current_page - 1) 
        %>">上一页</a>
    </li>
    <% if(pages.current_page > LEFT_INDEX){ %>
    <li><a href="<%= url %>/page/1">1</a></li>
    <li><a href="javascript:;">...</a></li>
    <% } %>

    <% for(var item of arr){ %>
    <li class="<%= pages.current_page == item ? 'active': '' %>">
      <a href="<%= url %>/page/<%= item %>"><%= item %></a>
    </li>
    <% } %>

    <% if(pages.total_pages - RIGHT_INDEX > pages.current_page){ %>
    <li><a href="javascript:;">...</a></li>
    <li><a href="<%= url %>/page/<%= pages.total_pages %>"><%= pages.total_pages %></a></li>
    <% } %>
    <li class="<%= pages.current_page === pages.total_pages ? 'disabled' : '' %>">
      <a href="
        <%= pages.current_page === pages.total_pages 
          ? 'javascript:;' 
          : url + '&page=' + Number(pages.current_page + 1) 
        %>">下一页</a>
    </li>
  </ul>
</div>
<% } %>