<!--
 * @Author: 莫卓才
 * @eMail: handsome.mo@foxmail.com
 * @Descripttion: 描述
 * @version: 1.0.0
 * @Date: 2020-07-24 09:42:13
 * @LastEditors: 莫卓才
 * @LastEditTime: 2020-11-25 08:32:40
-->
<%- include('/commom/header',{
  title:newsDetail?newsDetail.data[0].title:"11海南昆仑体育文化股份有限公司",
  Keywords:newsDetail?newsDetail.data[0].keywords:"海南昆仑体育文化股份有限公司",
  companyDescription:newsDetail?newsDetail.data[0].companyDescription:"海南昆仑体育文化股份有限公司",
}) %>
<%- include('/commom/banner') %>

<div class="content-full">
  <div class="content main-info">

    <%- include('/commom/column') %>
    <div class="content-right">
      <div class="news-list">
        <ul>
          <% newsDetail.data.forEach(item=>{ %>
          <li>
            <img src="" alt="" class="news-list-img" data-src="<%= item.filepath %>">
            <div class="news-list-right">
              <em><%= moment(item.created_at).format('YYYY-MM-DD') %></em>
              <h5><a href="<%= urlInfo +'/id/'+ item.id %>"><%= item.cultureTitle %></a></h5>
              <p><%= item.cultureDescription %></p>
            </div>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
    <%- include('/commom/page',{ url }) %>
  </div>
</div>
<%- include('/commom/serInfo') %>

<%- include('/commom/footer') %>