<!--
 * @Author: 莫卓才
 * @eMail: handsome.mo@foxmail.com
 * @Descripttion: 描述
 * @version: 1.0.0
 * @Date: 2020-07-24 09:42:13
 * @LastEditors: 莫卓才
 * @LastEditTime: 2020-08-06 20:01:56
-->
<%- include('/commom/header',{
  title:cultureList?cultureList.data.title:"11海南昆仑体育文化股份有限公司",
  Keywords:cultureList?cultureList.data.Keywords:"海南昆仑体育文化股份有限公司",
  companyDescription:cultureList?cultureList.data.companyDescription:"海南昆仑体育文化股份有限公司",
}) %>
<%- include('/commom/banner') %>

<div class="content-full">
  <div class="content main-info">

    <%- include('/commom/column') %>
    <div class="content-right">
      <div class="news-list">
        <ul>
          <% var url = `culture?pid=${ctx.query.pid}&cid=${ctx.query.cid}`; %>
          <% var urlInfo = `culture_info?pid=${ctx.query.pid}&cid=${ctx.query.cid}`; %>
          <% cultureList.data.forEach(item=>{ %>
          <li>
            <img src="<%= item.filepath %>" alt="" class="news-list-img">
            <div class="news-list-right">
              <em><%= item.created_at %></em>
              <h5><a href="<%= urlInfo +'&id='+ item.id %>"><%= item.cultureTitle %></a></h5>
              <p><%= item.cultureDescription %></p>
            </div>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
    <%- include('/commom/page',{ url }) %>
  </div>
</div>
<%- include('/commom/serInfo') %>

<%- include('/commom/footer') %>