<!--
 * @Author: 莫卓才
 * @eMail: handsome.mo@foxmail.com
 * @Descripttion: 描述
 * @version: 1.0.0
 * @Date: 2020-08-05 19:52:46
 * @LastEditors: 莫卓才
 * @LastEditTime: 2020-08-07 11:54:22
-->
<%- include('/commom/header',{
  title:papeInfo?papeInfo.current.title:"11海南昆仑体育文化股份有限公司",
  Keywords:papeInfo?papeInfo.current.Keywords:"海南昆仑体育文化股份有限公司",
  companyDescription:papeInfo?papeInfo.current.companyDescription:"海南昆仑体育文化股份有限公司",
}) %>

<%- include('/commom/banner') %>

<div class="content-full">
  <div class="content main-info">

    <%- include('/commom/column') %>

    <div class="content-right">
      <div class="main-info">
        <div class="news-info-top">
          <h3 class="news-title"><%= papeInfo.current.cultureTitle %></h3>
          <div class="news-link"></div>
          <span>来源：<em>本站</em> 时间：<em><%= papeInfo.current.created_at %></em>
            浏览：<em><%= papeInfo.current.click %></em></span>
        </div>
        <div class="news-txt">
          <%- papeInfo.current.content %>
        </div>
        <div class="news-info-bottom">
          <% var urlInfo = `culture_info?pid=${ctx.query.pid}&cid=${ctx.query.cid}`; %>
            <% if(papeInfo.previous){ %>
              <a href="<%= urlInfo + '&id='+papeInfo.previous.id %>">上一篇：<span><%= papeInfo.previous.cultureTitle %></span></a>
            <% }else{ %>
              <a href="javascript:;" class="disabled">上一篇：<span>暂无</span></a>
            <% } %>
            <% if(papeInfo.next){ %>
              <a href="<%= urlInfo + '&id='+papeInfo.next.id %>">下一篇：<span><%= papeInfo.next.cultureTitle %></span></a>
            <% }else{ %>
              <a href="javascript:;" class="disabled">下一篇：<span>暂无</span></a>
            <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('/commom/serInfo') %>

<%- include('/commom/footer') %>